html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
    background-color: black;
    width: 100%;
    top: 0;
}
.navItems {
    display: flex;
    margin-right: 10px;
}
.navItems a {
    margin: 5px;
}
nav img {
    height: 50px;
    margin-left: 10px;
}

.mission {
    height: 700px;
    background: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
    background-size: cover;
}
.mission div {
    background-color: black;
    z-index: 3;
    width: 100%;
    height: auto;
}
.gallery img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}
.gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}